{% extends 'base.html.twig' %}

{% block body %}
<div class="card" style="max-width: 460px; margin: 2rem auto;">
    <h1>{{ 'security.change_password_title'|trans }}</h1>
    {{ form_start(form) }}
        <div class="field">{{ form_row(form.currentPassword) }}</div>
        <div class="field">{{ form_row(form.newPassword.first) }}</div>
        <div class="field">{{ form_row(form.newPassword.second) }}</div>
        <button class="btn" type="submit" style="width: 100%;">{{ 'form.update'|trans }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}
